<section class="banner">
  <div class="banner__content">
    <!-- Texto a la izquierda -->
    <div class="banner__text">
        <h1 class="banner__title">
            Soluciones Electricas <br />
            para tu <span> hogar y empresa</span>
        </h1>
        <p class="banner__description">
            Productos de iluminacion y tecnologia electrica con la mejor calidad y eficiencia.
        </p>
        <button class="banner__btn"> Explorar productos </button>
    </div>
    <!-- Imagen a la derecha -->
    <!-- <div class="banner__image">
      <img src="assets/img/landing/imagen-01.jpg" alt="Electico de Matelcosas">
    </div> -->
  </div>
</section>
